.bubble{display:inline-block;
        width:90px;
        margin-bottom:4px;
        background:#dbdbdb;
        border:1px solid #a3a3a3;
        border-radius:15px;
        border:1px solid rgba(0,0,0,.2);
        color:#ffffff;
        font-size:.75rem;
        font-weight:normal;
        line-height:1.5rem;
        text-align:center;
        text-shadow:2px 2px 2px rgba(0, 0, 0, 0.9);
        text-transform:uppercase;
        transition:opacity .4s}

.bubble-container{display:inline-block;
                  width:410px;
                  margin-bottom:1px;
                  background:#dbdbdb;
                  border:1px solid #a3a3a3;
                  border-radius:45px;
                  border:1px solid rgba(0,0,0,.2);
                  color:#000000;
                  font-size:.95rem;
                  font-weight:normal;
                  line-height:2.5rem;
                  text-align:center;
                  text-shadow:2px 2px 2px rgba(255, 255, 255, 0.9);
                  text-transform:uppercase;
                  transition:opacity .4s}

.type-beiche{background-color:#ffce8a}
.type-red{background-color:#e17683}
.type-blue{background-color:#86cef6}
.type-green{background-color:#8fd379}
