.icon{
    display:inline-block;
    width:66px;
    margin-bottom:4px;
    border:1px solid #a3a3a3;
    border:1px solid rgba(0,0,0,.2);
    color:#fff;
    font-size:.75rem;
    font-weight:normal;
    line-height:1.5rem;
    text-align:center;
    text-shadow:1px 1px 2px rgba(0,0,0,.7);
    text-transform:uppercase;
    transition:opacity .4s;
    border-radius: 76px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.type-text{
    background-color:rgb(175, 4, 4)
}

.type-text2{
    background-color:rgb(254, 217, 71)
}

.type-text3{
    background-color:rgb(75, 120, 11)
}

.type-text4{
    background-color:rgb(210, 97, 33)
}

